interactions:
  - request:
      body:
        '{"title": "Test submission", "body": "\n| Name            | Value                                             |\n|-----------------|---------------------------------------------------|\n|
        URL             | [/a/b/c](https://history.newtheatre.org.uk/a/b/c) |\n| Source          |
        [_shows/11_12/faust_is_dead.md](https://github.com/newtheatre/history-project/blob/master/_shows/11_12/faust_is_dead.md)
        |\n| Submitter State | Member |\n| Submitter       | [Fred Bloggs](https://history.newtheatre.org.uk/people/fred_bloggs)
        |\n\n---\n\nThis is a test submission."}'
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api.github.com/repos/newtheatre/lumina-test/issues
    response:
      body:
        string:
          '{"url":"https://api.github.com/repos/newtheatre/lumina-test/issues/3","repository_url":"https://api.github.com/repos/newtheatre/lumina-test","labels_url":"https://api.github.com/repos/newtheatre/lumina-test/issues/3/labels{/name}","comments_url":"https://api.github.com/repos/newtheatre/lumina-test/issues/3/comments","events_url":"https://api.github.com/repos/newtheatre/lumina-test/issues/3/events","html_url":"https://github.com/newtheatre/lumina-test/issues/3","id":1113336746,"node_id":"I_kwDOGuxcos5CXCuq","number":3,"title":"Test
          submission","user":{"login":"ntbot","id":12116913,"node_id":"MDQ6VXNlcjEyMTE2OTEz","avatar_url":"https://avatars.githubusercontent.com/u/12116913?v=4","gravatar_id":"","url":"https://api.github.com/users/ntbot","html_url":"https://github.com/ntbot","followers_url":"https://api.github.com/users/ntbot/followers","following_url":"https://api.github.com/users/ntbot/following{/other_user}","gists_url":"https://api.github.com/users/ntbot/gists{/gist_id}","starred_url":"https://api.github.com/users/ntbot/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ntbot/subscriptions","organizations_url":"https://api.github.com/users/ntbot/orgs","repos_url":"https://api.github.com/users/ntbot/repos","events_url":"https://api.github.com/users/ntbot/events{/privacy}","received_events_url":"https://api.github.com/users/ntbot/received_events","type":"User","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":0,"created_at":"2022-01-25T02:02:28Z","updated_at":"2022-01-25T02:02:28Z","closed_at":null,"author_association":"NONE","active_lock_reason":null,"body":"\n|
          Name            | Value                                             |\n|-----------------|---------------------------------------------------|\n|
          URL             | [/a/b/c](https://history.newtheatre.org.uk/a/b/c) |\n| Source          |
          [_shows/11_12/faust_is_dead.md](https://github.com/newtheatre/history-project/blob/master/_shows/11_12/faust_is_dead.md)
          |\n| Submitter State | Member |\n| Submitter       | [Fred Bloggs](https://history.newtheatre.org.uk/people/fred_bloggs)
          |\n\n---\n\nThis is a test submission.","closed_by":null,"reactions":{"url":"https://api.github.com/repos/newtheatre/lumina-test/issues/3/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"timeline_url":"https://api.github.com/repos/newtheatre/lumina-test/issues/3/timeline","performed_via_github_app":null}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        ETag:
          - '"6e3784a75099bdd927d4533fc04d87468939d4721a9c6e73ec47a48c86425b54"'
        Location:
          - https://api.github.com/repos/newtheatre/lumina-test/issues/3
        X-Accepted-OAuth-Scopes:
          - ""
        X-GitHub-Media-Type:
          - github.v3; format=json
        X-OAuth-Scopes:
          - repo
        X-RateLimit-Limit:
          - "5000"
        X-RateLimit-Remaining:
          - "4994"
        X-RateLimit-Reset:
          - "1643079195"
        X-RateLimit-Resource:
          - core
        X-RateLimit-Used:
          - "6"
      status:
        code: 201
        message: Created
version: 1
