interactions:
  - request:
      body:
        '{"title": "show/11_12/faust_is_dead", "body": "\n| Name            | Value                                             |\n|-----------------|---------------------------------------------------|\n|
        URL             | [/a/b/c](https://history.newtheatre.org.uk/a/b/c) |\n| Source          |
        [_shows/11_12/faust_is_dead.md](https://github.com/newtheatre/history-project/blob/master/_shows/11_12/faust_is_dead.md)
        |\n| Submitter State | Unverified |\n| Submitter       | Fred Bloggs |\n\n---\n\nThis
        is a test submission."}'
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://api.github.com/repos/newtheatre/lumina-test/issues
    response:
      body:
        string:
          '{"url":"https://api.github.com/repos/newtheatre/lumina-test/issues/2","repository_url":"https://api.github.com/repos/newtheatre/lumina-test","labels_url":"https://api.github.com/repos/newtheatre/lumina-test/issues/2/labels{/name}","comments_url":"https://api.github.com/repos/newtheatre/lumina-test/issues/2/comments","events_url":"https://api.github.com/repos/newtheatre/lumina-test/issues/2/events","html_url":"https://github.com/newtheatre/lumina-test/issues/2","id":1113335205,"node_id":"I_kwDOGuxcos5CXCWl","number":2,"title":"show/11_12/faust_is_dead","user":{"login":"ntbot","id":12116913,"node_id":"MDQ6VXNlcjEyMTE2OTEz","avatar_url":"https://avatars.githubusercontent.com/u/12116913?v=4","gravatar_id":"","url":"https://api.github.com/users/ntbot","html_url":"https://github.com/ntbot","followers_url":"https://api.github.com/users/ntbot/followers","following_url":"https://api.github.com/users/ntbot/following{/other_user}","gists_url":"https://api.github.com/users/ntbot/gists{/gist_id}","starred_url":"https://api.github.com/users/ntbot/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ntbot/subscriptions","organizations_url":"https://api.github.com/users/ntbot/orgs","repos_url":"https://api.github.com/users/ntbot/repos","events_url":"https://api.github.com/users/ntbot/events{/privacy}","received_events_url":"https://api.github.com/users/ntbot/received_events","type":"User","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":0,"created_at":"2022-01-25T01:59:31Z","updated_at":"2022-01-25T01:59:31Z","closed_at":null,"author_association":"NONE","active_lock_reason":null,"body":"\n|
          Name            | Value                                             |\n|-----------------|---------------------------------------------------|\n|
          URL             | [/a/b/c](https://history.newtheatre.org.uk/a/b/c) |\n| Source          |
          [_shows/11_12/faust_is_dead.md](https://github.com/newtheatre/history-project/blob/master/_shows/11_12/faust_is_dead.md)
          |\n| Submitter State | Unverified |\n| Submitter       | Fred Bloggs |\n\n---\n\nThis
          is a test submission.","closed_by":null,"reactions":{"url":"https://api.github.com/repos/newtheatre/lumina-test/issues/2/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"timeline_url":"https://api.github.com/repos/newtheatre/lumina-test/issues/2/timeline","performed_via_github_app":null}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        ETag:
          - '"64d60d7c7b7d6b9047b37fae4d91360dc6a29ee5c79a38561468b79f7179977d"'
        Location:
          - https://api.github.com/repos/newtheatre/lumina-test/issues/2
        X-Accepted-OAuth-Scopes:
          - ""
        X-GitHub-Media-Type:
          - github.v3; format=json
        X-OAuth-Scopes:
          - repo
        X-RateLimit-Limit:
          - "5000"
        X-RateLimit-Remaining:
          - "4995"
        X-RateLimit-Reset:
          - "1643079195"
        X-RateLimit-Resource:
          - core
        X-RateLimit-Used:
          - "5"
      status:
        code: 201
        message: Created
version: 1
