<p>👋 Hello {{ name }},</p>

<p>Click the link below to login to the website:</p>

<p style="font-size: 22px">
  <b><a href="{{ auth_url }}">➡️ Login to the Alumni Network</a></b>
</p>

<p>Please keep this link secret and don't share it with anybody!</p>

<p>Thanks,<br />The Alumni Network Team</p>

<p>
  <small>
    You are receiving this as previously you have registered for the New Theatre
    Alumni Network and a login was requested. If this was not you, please
    disregard this email.
  </small>
</p>
