<p>👋 Hello {{ name }},</p>

<p>
  Welcome to the New Theatre Alumni Network! To complete your registration and
  sign in to the History Project, please click the link below:
</p>

<p style="font-size: 22px">
  <b><a href="{{ auth_url }}">➡️ Finish registration</a></b>
</p>

<p>Please keep this link secret and don't share it with anybody!</p>

<p>Thanks,<br />The Alumni Network Team</p>

<p>
  <small>
    You are receiving this as your email was used to register for the New
    Theatre Alumni Network. If this was not you, please disregard this email.
  </small>
</p>
